body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:15px;
display:flex;
justify-content:space-between;
}

.layout{
display:flex;
min-height:90vh;
}

aside{
width:220px;
background:#020617;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}

aside button{
padding:12px;
border:none;
border-radius:8px;
background:#1e293b;
color:white;
cursor:pointer;
transition:.3s;
}

aside button:hover{
background:#38bdf8;
color:black;
transform:translateX(5px);
}

main{
flex:1;
padding:25px;
animation:fade .4s ease;
}

@keyframes fade{
from{opacity:0; transform:translateY(10px)}
to{opacity:1}
}

.secao{display:none}
.secao.ativa{display:block}

/* CURSOS */

.curso{
background:#020617;
padding:20px;
border-radius:12px;
margin-bottom:15px;
box-shadow:0 0 15px rgba(56,189,248,.2);
transition:.3s;
}

.curso:hover{
transform:scale(1.03);
}

/* CHAT */

.chatBox{
height:300px;
background:url('img/chat-bg.jpg') center/cover;
padding:15px;
border-radius:12px;
overflow:auto;
display:flex;
flex-direction:column;
gap:10px;
}

.msgAluno{
align-self:flex-end;
background:#38bdf8;
color:black;
padding:10px;
border-radius:12px;
}

.msgProf{
align-self:flex-start;
background:#1e293b;
padding:10px;
border-radius:12px;
}

.chatInput{
display:flex;
gap:10px;
margin-top:10px;
}

.chatInput input{
flex:1;
padding:12px;
border-radius:8px;
border:none;
}

.chatInput button{
padding:12px;
border:none;
border-radius:8px;
background:#38bdf8;
cursor:pointer;
font-weight:bold;
}
